<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turing League</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

  </head>
  <body style="font-family: 'Titillium Web', sans-serif;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Turing League</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="./highscores.html">High Scores</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

     <div class="jumbotron">
      <div class="container">
        <h1>Turing League</h1>
        <p>fight against robots</p>
        <p>
        <form id="start-form" class="form-inline">
            <input id="nickname-input" type="text" class="form-control" placeholder="Nickname">
            <a class="btn btn-primary btn-lg" id="btn-start" href="#" role="button">Start chatting</a>
        </form>
        </p>
      </div>
    </div> 

    <div class="container-fluid" id="main-chat">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading" id="chat-panel">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" id="chat-body">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Server</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>now</small>
                                </div>
                                <p id="server-message">
                                    Waiting for an opponent...
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="chat-form" class="panel-footer">
                    <form class="form-inline">
                        <input id="btn-input" type="text" class="form-control" placeholder="Talk...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                        </span>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row side-chat">
                    <h2 class="text-center">Time left: </h2>
                    <div class="progress progress-striped">
                        <div class="progress-bar" style="width: 60%;" id="time-bar">
                            <span class="progress-text" id="time-val">6</span>
                        </div>
                    </div>
                </div>
                <div class="row side-chat">
                <h2 class="text-center">Responses left: </h2>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" style="width: 70%;" id="responses-bar">
                        <span class="progress-text" id="responses-val">7/10</span>
                    </div>
                </div>
                </div>
                <div class="row side-chat" id="is-bot-dialog">
                    <h2 class="text-center">Is this a bot?</h2>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btnyes" id="btn-yes">Yes</button>
                            <button type="button" class="btnno" id="btn-no">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
